<div ng-controller="HomeCtrl">
    <div id="main">
        <div ng-view>
        </div>
    </div>
 </div>
@section scripts {
    <script src="@Url.Content("~/Scripts/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-messages.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/module.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/home-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/repo-list-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/repo-detail-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/repo-list-favorites-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/repo-service.js")" type="text/javascript"></script>
    @*<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>*@
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
}
